/* Overall Structure */
html {
  width: 100%;
  height: 100%;
}
body {
  margin: 0px; padding: 0;
}
body, input, button{
  font-family: Trebuchet MS,Helvetica,Arial,sans-serif;
  font-size:14px;
}
#activity {
  width:450px;
  padding:0 10px 10px 10px;
}
#schedule {
  /*margin-left: auto;
  margin-right: auto;*/
  float:left;
}

.title{
}
/* New Activity Form */
#add_activity_form{
  padding:10px 25px;
  text-align:left;
}
.activitySelected{
  background:#89D3EB;
}
#activity_name { 
  width:260px;
  position:relative;
  font-size:15px;
}
#activity_suggest { 
  width:100%;
  position:relative;
}
#activity_time { }
#time_form { 
  text-align:left;
}
#time_definite { }
#or {
  text-align:center;
}
#definite_start { 
  width:3em;
}
#definite_end {
  width:3em;
}
#range_add_event {
  width:30%;
  text-align:center;
  float:right;
}
#definite_add_event {
  width:30%;
  text-align:center;
  float:right;
}
#range_duration { 
  width:3em;
}
#range_start {
  width:3em;
}
#range_end { 
  width:3em;
}
#time_display { }

#location_text {
  float-left;
  width:75%;
}

#activity_location { 
}
#map_canvas {
 width:450px; 
 height:460px;
}

/* New Activity Form */
#range_duration { 
  width:3em;
}
#range_start {
  width:3em;
}
#range_end { 
  width:3em;
}
#draggable {
  position:absolute;
  top:275px; 
  left:195px; /*width: 30px; height: 30px;*/
  z-index:1000;
}

/* Activities column */
.autoSchedule {
  /*background: #105870;*/
  text-align:center;
}
.activitiesList {
  width: 210px;
  position: relative;
}
.activitiesResizeContainer{
  position:absolute;
  z-index:-1;
  left:0;
  width:  480px;
}
.activitiesContainer{
  position:absolute;
  width:  472px;
}
.wrapper {
  position: relative;
  left:0;
  top:0;
}

#pin_slot {
  z-index:-1;
}
#active_pin {
  position: absolute;
  user-select: none;
  z-index:9;
}


/* Schedule column */
.schedule {
  width: 210px;
  position: absolute;
  left:30px;
}
.scheduleGrid {
  position:relative;
  width:250px;
  text-align:center;
}
.scheduleGrid td {
  border:1px solid #E1F5FC;
  background: #DBF2FA;
  display: inline-block;
  text-align:center;
}
.scheduleItem {
  border:1px solid #92ADB5;
  text-align:center;
  width: 208px;
  display: table;
  
  background:#C8ECF9;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:3px;
  z-index:10;
}
.scheduleItem:hover:not(.ui-state-disabled) {
  background:#B3E2F2;
}
.scheduleItem.selected {
  background:#89D3EB;
  z-index:200!important;
}
.scheduleItem.selected:hover {
  background:#5EC2E4;
}
.scheduleItem .ui-resizable-handle{
  position: absolute;
  margin-left: -30px;
  left: 50%;
  width:60px;
  height:30px;
  display:none !important;
}
.grip-n{
  background-image: url(../resize_n.gif);
  background-repeat:no-repeat;
  background-position:bottom; 
  margin-left: -30px;
  top:-30px;
}
.grip-s{
  background-image: url(../resize_s.gif);
  background-repeat:no-repeat;
  background-position:top; 
  bottom:-30px;
}
.selected:not(.ui-draggable-dragging):not(.ui-state-disabled) .ui-resizable-handle{
  display:block !important;
  z-index:100;
}
.selected .ui-icon{
  display:none;
}
.ui-state-disabled{
  background:#A7B6BB!important;
  opacity: 0.7;
}
.ui-state-disabled .selected{
  background:#98a4a8!important;
  opacity:1!important;
}
.ui-state-disabled .ui-icon{
  display:none;
}
.outsideDoBetween{
  background: red !important;
}
.lock{
  position: absolute;
  cursor: pointer;
  z-index:10;
}
.duration{
  position: absolute;
  right:30px;
  font-size:80%;
}
.delete{
  position: absolute;
  right:3px;
  cursor: pointer;
  z-index:10;
}
.times{
  position: absolute;
  left:30px;
  font-size:80%;
}
.error{
  width:100%;
  font-size:80%;
  position: absolute;
  top: -50px;
  color:red;
  text-align:center;
  font-weight:bold;
}
.activityCenter{
  width:100%;
  position: absolute;
  top:50%;
  height:20px;
  margin-top:-10px;
}
.marker{
  position: relative;
  width:24px;
  height:5px;
  top:5px;
}
.doBetweenContainerContainer{
  width:482px;
  position: absolute;
}
.doBetweenContainer{
  width:490px;
  position: absolute;
  left:0px;
  z-index:0;
}
.doBetweenTop,.doBetweenBottom{
  background:#A7B6BB;
  position: absolute;
  width:250px;
  right:0px;
  opacity:0.7;
}
.ui-draggable { 
  cursor: move; 
}

/* Map column */

h2{
  text-align:center;
}
.layout{
  text-align:center;
}
td{
  padding:0px;
  margin:0px;
}
