.normalbutton {
    color: white;
    background-color:#44ee44;
    border: 2px solid#226622; 
}
.hoverbutton {
    color: white;
    background-color:#229922;
    border: 2px solid#226622; 
}
.clickbutton {
    color: white;
    background-color:#44ee44;
    border: 2px solid#226622; 
}

